.container {
    padding: 20px;
}
input[type="button"] {
    color: black;
    border-radius: 0;
    border: 2px solid slateblue;
    background-color: white;
    padding: 8px;
    margin-right: 20px;
}

input[type="button"]:hover {
    border-radius: 4px;
    border: 2px solid cadetblue;
    background-color: azure;
}

input[type="button"]:disabled {
    border: 2px dashed darkturquoise;
}

input[type="button"]:active {
    background-color: slateblue;
}

input[type="number"] {
    width: 40px;
    padding: 8px
}

table {
    width: 400px;
    border-spacing: 0;
    text-align: center;
    margin: 20px;
}
th, td {
    border: 2px solid aqua;
}